{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }],
    ["@babel/preset-react", {
      "flow": false,
      "typescript": true
    }],
    ["@babel/preset-typescript", {
      "isTSX": true,
      "allExtensions": true
    }]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
